@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

body {
    background-color: white;
    // font-family: $font-family;
    font-size: $fontSize;
    line-height: 1.6;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .navbar {
     border-bottom: 4px solid dodgerblue; 
 }

 .mr2em {
     margin-right: 1em * 2 !important;
 }

 .mb2em {
     margin-bottom: 1em * 2 !important;
 }

 .mb0 {
     margin-bottom: 0 !important;
 }

 .mt2em {
     margin-top: 1em * 2 !important;
 }

 .mt3em {
     margin-top: 1em * 3 !important;
 }

 .pr2em {
     padding-right: 1em * 2 !important;
 }