@import "./settings.scss";

@media screen and (max-width: 414px) {
    .ui.button {
        &.navigator {
            margin-top: 4em;
            margin-left: 12px;
        }
    }

    .ui.search.transparent {
        width: 100%;
        .ui.input {
            width: 100%;
        }
    }

    .cs-segment {
        .ui.header {
            .content {
                display: inline-block;
            }
        }
    }

    .ui.header {
        .content {
            display: block;
        }
    }

    .ui.form {
        .fields {
            .field {
                margin-bottom: $baseSize;
            }
        }
    }

    .ui.menu {
        &.menu-navbar-mobile {
            .item {
                padding: 5px !important;
            }
            .logo-container {
                padding: 0 !important;
            }
            .ui.label {
                &.floating {
                    left: 28px !important;
                    top: 10px;
                }
            }
        }
        &.menu-category {
            width: initial;
            bottom: 10px !important;
            right: 20px !important;
            left: initial !important;
            .ui.dropdown.item {
                // float: right;
                .menu {
                    position: absolute;
                    left: -150px;
                }
            }
        }
    }

    .ui.grid {
        .ui.stackable.grid {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .ui.sidebar {
            z-index: 1000;
        }

        &.deposit {
            .ui.container {
                margin-left: 0 !important;
            }
        }

        &.register {
            .ui.search.dropdown {
                .menu {
                    max-height: fit-content;
                }
            }
        }

        .ui.stackable.grid {
            &.centered-grid {
                &.main-form,
                &.order-received {
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
            > .wide.column {
                .filterer {
                    margin-bottom: $baseSize * 3 !important;
                }
            }
        }

        &.settings-page {
            .ui.container {
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
        }

        &.profile-deposit {
            .left.floated.column {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .ui.container {
                margin-left: 0 !important;
                margin-right: 0 !important;
                padding: 0 !important;
            }
        }

        &.stackable.basic {
            > .column {
                padding-left: 0 !important;
                padding-right: 0 !important;
                .ui.grid {
                    > .column {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                }
            }
            .profile-details {
                .line-one {
                    .ui.segment {
                        word-break: break-word;
                        max-width: 120px;
                        &:first-of-type {
                            max-width: 140px;
                        }
                        &:last-of-type {
                            max-width: unset;
                        }
                    }
                }
            }
        }

        &.stackable.order-history {
            > .column {
                padding: 0 !important;
            }
            .history-list {
                .content {
                    .description {
                        .container {
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                        }
                    }
                }
                .history-table {
                    margin-bottom: 0 !important;
                    .ui.items {
                        .item {
                            .meta {
                                color: #999999;
                                line-height: 1.8;
                            }
                        }
                    }
                }
            }
        }
        &.cek-ongkir {
            .main-form {
                .fields {
                    margin-bottom: $baseSize;
                    .field {
                        .ui.dropdown {
                            margin-bottom: $baseSize;
                        }
                    }
                }
            }
        }
        &.product-list {
            .restock,
            .latests {
                .product-item {
                    .image {
                        height: 150px;
                    }
                }
            }
        }
        .logo-container {
            padding-top: $baseSize * 4.5 !important;
        }
        &.product-detail {
            .container {
                .header {
                    line-height: 0.5;
                }
            }
            .ui.search.dropdown {
                .menu {
                    max-height: fit-content;
                }
            }
        }
        &.checkout {
            .container {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
            .shipping-address {
                > .ui.basic.segment {
                    padding: 0;
                }
            }
            .ui.list {
                &.summary-list {
                    margin-bottom: 4em;
                }
            }
        }
        &.hero-section {
            .slick-slider {
                margin-bottom: $baseSize * 2;
            }
            .ui.card {
                height: auto !important;
                img {
                    object-fit: contain !important;
                }
                .reveal {
                    .content {
                        width: 100%;
                    }
                }
            }
        }
        &.from-to {
            .expeditions {
                margin-bottom: $baseSize * 2;
            }
        }
        &.category-section {
            .ui.cards {
                .ui.card {
                    .content {
                        padding-top: 0;
                        margin-top: -10px;
                    }
                }
            }
        }
    }

    .cart-page,
    .summary {
        .ui.container {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .ui.header {
            margin-bottom: $baseSize !important;
        }
        .ui.items {
            margin-bottom: $baseSize * 3 !important;
            .cart-item {
                .content {
                    .header {
                        font-weight: normal !important;
                        color: $tosca !important;
                        span {
                            color: #999999;
                        }
                    }
                    .extra {
                        p {
                            margin-bottom: 5px;
                            &:first-child {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .ui.card {
        &.product-item {
            // height: 300px !important;
            .ui.image {
                height: 150px;
                img {
                    object-fit: cover;
                }
            }
            .header {
                height: unset !important;
            }
            .content {
                padding: 1em !important;
                &.extra {
                    padding: 1em !important;
                }
            }
        }
    }
}
