$font-family: 'Karla', 'Helvetica', 'Arial', 'sans-serif';
$fontSize: .85em;

$baseSize: 1em;

$tosca: #66ceb2;
$magenta: #8732ff;
$grey: #999;
$lightGrey: #ddd;

$radius: 55px;
$circumf: 3.1416 * $radius * 2;
$check-len: 75px;