@import "_settings.scss";
@import "_base.scss";
@import "./components/_header.scss";
@import "responsive.scss";

#app {
    background: #fdfdfd !important;
    min-height: 100vh;
    overflow-x: hidden;
    .main-grid {
        justify-content: space-between !important;
    }
}

a {
    color: $tosca;
    &:hover {
        color: $magenta;
        text-decoration: underline;
    }
}

span.tosca,
p.tosca {
    color: $tosca !important;
}

span.magenta,
p.magenta {
    color: $magenta !important;
}

span.dashed {
    text-decoration: underline dashed;
}

span.ball {
    position: absolute;
    &.big {
        bottom: 0;
        right: -100px;
    }
    &.medium {
        right: 0;
        top: 0;
    }
    &.small {
        top: 0;
        right: -50px;
    }
}

.ui.menu {
    .active {
        background: $tosca !important;
        color: white !important;
        &::after {
            background-color: $magenta !important;
        }
    }
    .search .prompt {
        background: white !important;
        border-radius: 0 !important;
        border: none !important;
        border-bottom: 1px solid transparent !important;
        &:active,
        &:focus {
            border-bottom: 1px solid #ddd !important;
        }
        input {
            border: none !important;
        }
    }
    &.vertical.text {
        .header {
            &.item {
                color: #777 !important;
            }
        }
        .item {
            padding: $baseSize;
            margin: 0 !important;
        }
    }
    &.menu-navbar {
        .item {
            &:before {
                background: none !important;
            }
        }
        .category-dropdown,
        .logo {
            padding: 0.5em 2em !important;
        }
        .logo,
        .logo::after {
            background: $magenta !important;
        }
        .logo-container {
            width: auto !important;
            padding-top: 0 !important;
        }
        .contact {
            .ui.header {
                margin-top: initial !important;
            }
        }
    }
    &.menu-category {
        background: transparent;
        border: none;
        box-shadow: none;
        bottom: 20px;
        left: 20px;
        .ui.dropdown.item {
            height: 50px;
            width: 50px;
            background: $tosca;
            color: #fff;
            border-radius: 50% !important;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            .menu {
                padding: 1.5em;
                padding-left: $baseSize;
                border-radius: 9px;
                min-width: unset !important;
                width: 200px;
                transition: all 0.3s ease;
                > .header {
                    color: $tosca !important;
                }
                &:after {
                    left: 20px !important;
                }
            }
            i.icon {
                margin: 0 !important;
                font-size: 1.5em;
            }
        }
    }
}

.ui.feed {
    .event {
        opacity: 0.4;
        .content {
            .extra {
                color: #999;
            }
        }
        &.active {
            opacity: 1;
        }
    }
}

.user-avatar {
    display: flex;
    justify-content: space-around;
    .header {
        margin-bottom: 5px;
    }
    > div:nth-child(2) {
        padding-left: $baseSize;
        font-size: $baseSize - 0.2;
        flex: 2;
        color: #999;
        line-height: 1.7;
        span {
            cursor: pointer;
        }
        strong {
            font-size: $baseSize * 1.2;
        }
    }
}

.coba-aja {
    font-size: $baseSize;
}

.ui.container {
    &.logo-container {
        padding-top: $baseSize * 2;
    }
}

.ui.message {
    &.profile-notice {
        width: 60%;
        // padding: 2.5em 2.5em 1.5em;
    }
    &.message-info {
        box-shadow: none !important;
        border: none !important;
        color: #65c39c !important;
        margin-top: -30px;
        margin-bottom: $baseSize * 3;
        .ui.button.link-btn {
            padding-left: 0 !important;
            padding-bottom: 0 !important;
            color: $tosca !important;
        }
        &.mb0 {
            margin-bottom: 0 !important;
        }
        .container {
            &.mb0 {
                margin-bottom: 0 !important;
            }
        }
    }
}

.cart-popup {
    .header {
        margin-bottom: $baseSize * 2;
    }
    .total-cart {
        margin-bottom: $baseSize * 2;
        margin-top: $baseSize * 2;
        text-align: center;
        font-weight: normal;
        color: #777777;
    }
}

.navbar {
    &.cart-button {
        box-shadow: none !important;
    }
}

.main-wrapper {
    margin: ($baseSize * 4) 0 4em;
}

.ui.grid {
    transition: all 0.3s ease;
    &.loading {
        opacity: 0.35;
    }
    &.basic {
        margin-bottom: $baseSize * 5 !important;
        .photo-wrapper {
            position: relative;
            // max-height: 200px;
            .ui.image {
                width: 200px;
                height: 200px;
                object-fit: contain;
                transition: all 0.3s ease;
                &.loading,
                &:hover {
                    filter: blur(5px);
                }
            }
            &:hover {
                .upload-zone {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .upload-zone {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 50%;
                transform: translateX(30%);
                input[type="file"] {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    z-index: -1;
                    + label {
                        background: #fff;
                        cursor: pointer;
                        padding: 10px;
                        border-radius: 5px;
                        transition: all 0.3s ease;
                        span {
                            font-size: 1.2em;
                        }
                        &:hover {
                            box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }
        }
        .segments.horizontal {
            border: none !important;
            box-shadow: none !important;
            background: transparent !important;
            border-bottom: 1px solid #ddd !important;
            > .segment {
                padding-left: 0 !important;
                border-left: none !important;
                color: #999 !important;
                .header {
                    color: $tosca !important;
                }
            }
            &:nth-child(5) {
                margin-bottom: $baseSize * 4 !important;
            }
        }
        .form {
            &.editing {
                label {
                    font-family: "Karla", Arial, Helvetica, sans-serif;
                    color: $tosca;
                    font-size: $baseSize * 1.1;
                }
            }
        }
    }
    &.order-history {
        .header {
            .dropdown {
                .text {
                    color: $tosca;
                }
                .dropdown.icon {
                    margin-left: 0.5em !important;
                }
            }
        }
        .status {
            .ui.feed {
                .content {
                    padding-left: $baseSize * 1.5 !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
    &.product-list {
        margin-bottom: $baseSize * 3;
        > .row {
            margin-bottom: $baseSize * 3;
        }
        .section-header {
            margin-bottom: $baseSize * 1.2;
            color: $tosca !important;
        }
        .ui.image {
            &.fit-cover {
                img {
                    object-fit: cover;
                }
            }
        }
        .latests,
        .restock {
            .ui.card.product-item {
                // height: 360px;
                .image {
                    max-height: 200px;
                    height: 170px;
                }
            }
        }
    }
    &.centered-grid {
        // min-height: 100vh;
        padding-top: $baseSize * 3;
        align-items: center;
        &.deposit-sent {
            .bank-info {
                .header {
                    margin-bottom: $baseSize !important;
                }
            }
        }
        .wizard-success {
            text-align: center !important;
            padding-bottom: $baseSize * 3 !important;
            border: 3px solid $tosca;
            border-radius: 10px !important;
            .container {
                p {
                    line-height: 1.6;
                    color: #777 !important;
                }
            }
        }
        .bank-info {
            margin-bottom: $baseSize * 2 !important;
            .header {
                margin-bottom: 0 !important;
            }
        }
        &.no-border {
            > .column {
                padding: initial !important;
                margin: initial !important;
                border: initial !important;
                border-radius: initial !important;
            }
        }
        > .column {
            padding: $baseSize * 3 !important;
            margin-top: $baseSize * 3 !important;
            margin-bottom: $baseSize * 3 !important;
            border: 3px solid $tosca !important;
            border-radius: 9px !important;
        }
    }
    &.total-order {
        .from-to {
            .ui.segment {
                border-radius: 10px;
                border: none;
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
                h4 {
                    margin: 0 !important;
                }
            }
        }
        .expedition-list {
            padding: $baseSize;
            border-radius: 9px;
            border: none;
            box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.15);
            background: #fff;
            .logo {
                padding: 0;
                margin-bottom: $baseSize;
                max-height: 180px;
                > img {
                    border-radius: 10px;
                }
            }
            .ongkir {
                margin-bottom: $baseSize * 1.5 !important;
                margin-top: $baseSize * 1.5 !important;
                h3 {
                    margin-bottom: 0 !important;
                }
                p {
                    font-size: $baseSize - 0.2 !important;
                    color: #999;
                }
            }
            .ui.segment {
                flex: 0 0 20% !important;
                &:first-child {
                    padding-bottom: 0;
                }
                &.active {
                    color: #ddd !important;
                }
                h4 {
                    color: $tosca !important;
                    margin: 0 !important;
                }
                &:not(.logo) {
                    cursor: pointer;
                    max-height: 85px;
                    border-radius: 7px;
                    p {
                        font-weight: bold;
                        color: #999;
                    }
                    &:last-child {
                        border-bottom: initial;
                    }
                    &:hover {
                        background: #eee;
                        opacity: 0.85;
                    }
                    &.active {
                        background: aliceblue;
                        border: 2px solid $tosca;
                        .ui.label {
                            background: $tosca;
                            color: #fff;
                            > .icon {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .service-item {
                color: #999 !important;
                &.inactive {
                    opacity: 0.4;
                }
            }
        }
    }
}

.ui.button {
    padding: 1em !important;
    &.btn-zigzag {
        background: $magenta !important;
        color: white !important;
        border: 2px solid transparent;
        &:hover {
            background: transparent !important;
            color: $magenta !important;
            border: 2px solid $magenta !important;
        }
    }
    &.add-to-cart.basic {
        box-shadow: none !important;
        border: 1px solid #ddd;
        &:hover {
            background-color: $magenta !important;
            color: white !important;
            border: 1px solid $magenta;
            box-shadow: none !important;
        }
    }
    &.link-btn {
        border: none !important;
        box-shadow: none !important;
        &:hover {
            color: $magenta !important;
            background-color: transparent !important;
        }
    }
    &.delete-btn {
        &:hover {
            background-color: #db2828 !important;
            border-color: #db2828 !important;
            box-shadow: none;
            color: #fff !important;
        }
    }
}

.ui.card.product-item {
    // display: block !important;
    // height: 375px;
    max-width: 260px;
    border-radius: $baseSize - 0.2;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
    &.loading {
        opacity: 0.4;
    }

    .ui.button {
        &.add-to-cart {
            color: $tosca !important;
            border: 1px solid $tosca;
            &:hover {
                color: white;
                border: 1px solid $magenta;
            }
        }
    }

    &:hover {
        transform: translateY(-2px);
        transition: all 0.2s ease;
        box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.1);
    }
    .header {
        height: 40px;
        &:hover {
            color: $magenta !important;
        }
    }
    .price {
        font-size: $baseSize * 1.3;
        .was {
            font-size: $baseSize - 0.3;
            font-weight: normal;
            text-decoration: line-through;
            color: rgb(209, 101, 101);
        }
    }
    .image {
        width: 100%;
        max-height: 250px;
        height: 200px;
        overflow: hidden;
        border-radius: 0.8em 0.8em 0 0 !important;
        img {
            background: white !important;
            object-fit: cover;
            height: 100%;
            border-radius: 0.8em 0.8em 0 0 !important;
        }
    }
    .content {
        padding: 2em;
        padding-bottom: 0.5em;
        &.extra {
            padding: 2em;
            border-top: none !important;
        }
    }
}

.ui.header {
    color: #777 !important;
    font-family: $font-family;
    &.form-header {
        margin-bottom: $baseSize * 1.5;
        .sub.header {
            font-size: 1rem;
            margin-top: 0.5em !important;
        }
    }
    + p {
        color: #777;
    }
}

.ui.grid.category-page {
    .ui.header {
        text-transform: capitalize;
        .content {
            line-height: 1;
            .sub.header {
                padding-top: $baseSize - 0.6;
                text-transform: initial;
            }
        }
    }
    .product-item {
        // height: 395px;
        .content {
            &.extra {
                padding-top: 1em;
            }
        }
    }
}

.ui.form {
    margin-bottom: $baseSize * 2;
    .error.field {
        .form-error {
            font-size: $baseSize - 0.2;
            color: #ef9292;
            margin-top: $baseSize - 0.5;
        }
    }
    .sk-agreement {
        color: $grey;
    }
    .field {
        label {
            color: #777777;
        }
        .ui.checkbox {
            label {
                color: #777777;
            }
        }
    }
    .help-text {
        color: #999;
        font-size: $baseSize * 0.8;
        line-height: $baseSize + 0.8;
        padding-top: 5px;
    }
    .account-type {
        border: none !important;
        box-shadow: none !important;
        .ui.segment {
            border-radius: 10px !important;
            border: 2px solid $magenta;
            cursor: pointer;
            opacity: 0.4;
            label {
                color: $tosca !important;
                text-transform: uppercase;
            }
            &.active {
                opacity: initial;
            }
            .info {
                margin-top: $baseSize * 1.5;
                color: #777 !important;
                ul {
                    padding-left: $baseSize * 1.5 !important;
                }
            }
        }
    }
    input[type="text"],
    input[type="number"],
    input[type="password"] {
        border: 2px solid rgba(34, 36, 38, 0.15) !important;
        &:focus {
            border-color: $magenta !important;
        }
    }
    textarea {
        border: 2px solid rgba(34, 36, 38, 0.15) !important;
    }
    .ui.selection.dropdown {
        border-width: 2px !important;
        &.active {
            border-color: $magenta !important;
        }
    }
    .ui.divider {
        margin: 2rem 0 !important;
    }
    .ui.checkbox.toggle {
        margin-bottom: $baseSize;
        input:checked ~ .box:before,
        input:checked ~ label:before {
            background: $magenta !important;
        }
        &.checkbox-radio {
            label {
                color: #999;
            }
            &.activated {
                color: initial;
            }
        }
    }
}

.ui.grid.hero-section {
    margin-bottom: $baseSize * 3 !important;
    .ui.card {
        height: 380px;
        overflow: hidden;
        border-radius: 9px !important;
        box-shadow: none !important;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .ui.reveal {
            height: 100%;
            .content {
                color: #999;
                > div {
                    margin-top: $baseSize;
                }
                &.hidden {
                    padding: $baseSize;
                    padding-top: $baseSize * 2;
                }
            }
        }
    }
    .smaller {
        .ui.card {
            height: 185px !important;
            overflow: hidden;
            &:hover {
                .ui.reveal {
                    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
                }
            }
            a {
                opacity: 0.75;
                &:hover {
                    opacity: initial;
                    text-decoration: none;
                }
            }
        }
    }
}

.ui.grid.category-section {
    margin-bottom: $baseSize * 3;
    .section-header {
        margin-bottom: $baseSize * 1.2;
        color: $tosca !important;
    }
    .ui.cards {
        // flex-wrap: nowrap;
        // overflow-x: auto;
        // padding-bottom: 4em;
        // -webkit-overflow-scrolling: touch;
        // &::-webkit-scrollbar {
        //     display: none;
        // }
        .ui.card {
            flex: 0 0 auto !important;
            height: 150px !important;
            border-radius: 9px;
            border: none;
            box-shadow: none;
            background: transparent;
            // box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(216, 140, 140, 0.1);
            transition: all 0.2s ease;
            .content {
                border-top: none;
                text-align: center;
                .header {
                    color: #aaa;
                }
            }
            &:hover {
                box-shadow: none;
                .header {
                    color: initial;
                    text-decoration: none;
                }
                // box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.07);
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                background: transparent;
                border-radius: 9px !important;
            }
        }
    }
}

.main-form {
    form {
        margin-bottom: $baseSize * 3;
    }
    button[type="submit"] {
        background-color: $magenta;
        color: #fff !important;
        border: 2px solid transparent !important;
        &:hover {
            background-color: transparent !important;
            border: 2px solid $magenta !important;
            color: $magenta !important;
        }
    }
    .react-datepicker-wrapper {
        display: block !important;
        * {
            display: block !important;
        }
    }
    .ui.message {
        .header {
            margin-bottom: $baseSize - 0.5;
        }
        p {
            line-height: 1.6;
            letter-spacing: 0.5px;
        }
    }
}

.switching {
    text-align: center;
    margin-top: $baseSize * 2.4;
}

// .ui.container {
//     &.scroll {
//         display: flex;
//         align-items: center;
//         // scroll-snap-type: x mandatory;
//         scroll-snap-align: center;
//         overflow-x: auto;
//         overflow-y: hidden;
//         -webkit-overflow-scrolling: touch;
//     }

//     @supports (scroll-snap-align: start) {
//         .ui.container.scroll {
//             scroll-snap-type: x mandatory;
//         }
//     }

//     @supports not (scroll-snap-align: start) {
//         .ui.container.scroll {
//             -webkit-scroll-snap-type: mandatory;
//             scroll-snap-type: mandatory;
//         }
//     }
// }

.ui.grid.product-detail {
    margin-bottom: $baseSize * 3 !important;
    .price {
        font-size: $baseSize * 1.7;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 2.5em;
        .was {
            font-size: $baseSize - 0.2;
            font-weight: normal;
            text-decoration: line-through;
            color: #999;
            padding-left: 1em;
        }
    }

    .ui.image {
        cursor: pointer;
        &.full-screen {
            position: fixed;
            top: 0;
            width: 60%;
            height: auto;
            z-index: 100;
            cursor: pointer;
        }
    }
    .slick-slider {
        user-select: initial !important;
        pointer-events: all;
        .ui.container.wrapper {
            // max-height: 500px;
            // height: 500px;
            overflow-y: hidden;
            border-radius: 12px;
            padding: $baseSize;
            margin-bottom: 0 !important;
            &.scroll {
                scroll-snap-type: x mandatory;
                scroll-snap-align: center;
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch;
            }
            img {
                position: relative;
                z-index: 10000;
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 12px;
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
            }
        }
        .caption {
            margin-bottom: $baseSize * 1.5;
        }
    }
    .caption {
        text-align: center;
        margin-top: $baseSize;
        color: #999;
    }
    .ui.header {
        margin-bottom: 0 !important;
        color: #777 !important;
    }
    .ui.label.floating {
        left: unset !important;
        top: 1em;
        margin-left: 0.1em !important;
    }
    .ui.message {
        &.message-info {
            .container.mb0 {
                margin-bottom: 0 !important;
            }
        }
    }
    .help-text {
        padding-top: 5px;
    }
    .container {
        margin-bottom: $baseSize * 2 !important;
        line-height: 1.7;
        color: #999 !important;
        .message {
            .header {
                color: inherit !important;
            }
        }
        .header {
            margin-bottom: $baseSize - 0.5;
            color: $tosca !important;
            line-height: 1.2;
        }
        &:last-child {
            margin-bottom: $baseSize * 6 !important;
        }
    }
    .product-stats {
        margin-left: 1rem;
        margin-bottom: $baseSize * 2 !important;
        background-color: #fefefe;
        border-radius: 8px;
        box-shadow: none !important;
        border: 3px solid $tosca !important;
        .item {
            .content {
                line-height: initial;
                font-size: $baseSize - 0.1;
                color: $grey;
                .header {
                    margin-bottom: 5px !important;
                    color: #777;
                }
            }
            .icon {
                color: $magenta !important;
            }
        }
    }
    .product-comments {
        margin-top: $baseSize * 10 !important;
        .comment {
            .author {
                color: $tosca !important;
            }
            .text {
                color: #777 !important;
            }
            &:last-child {
                margin-bottom: $baseSize * 3.5 !important;
            }
        }
        .ui.form {
            margin-top: $baseSize * 3 !important;
            .help-text {
                margin-top: -5px;
                padding-top: 0 !important;
                margin-bottom: $baseSize * 2.4 !important;
            }
        }
        .load-all {
            margin-top: $baseSize * 2.4;
            margin-bottom: $baseSize * 2;
        }
        .header {
            .sub.header {
                color: #999 !important;
                padding-top: 0.5em;
            }
        }
        textarea {
            height: auto !important;
        }
    }
    .product-rating,
    .colors {
        .ui.label {
            margin-right: 6px;
            margin-bottom: 6px;
            text-decoration: none;
            opacity: 0.7;
            transition: all 0.3s ease;
            &.selected,
            &:hover {
                opacity: 1;
            }
        }
        .ui.header {
            margin-bottom: 7px !important;
        }
        .ui.rating {
            margin-right: $baseSize;
        }
        .rating-amount {
            position: relative;
            top: -2px;
        }
    }
    .colors {
        .shoe-size {
            .ui.button {
                // font-size: .6rem !important;
                &.btn-zigzag {
                    border: none !important;
                    &:hover {
                        border: none !important;
                        background: $magenta !important;
                    }
                }
            }
        }
    }
    .added {
        margin-top: $baseSize * 1.5;
    }
}

.ui.grid.settings-page {
    .form {
        margin-bottom: $baseSize * 4;
    }
}

.ui.list {
    transition: all 0.3s ease;
    &.loading {
        opacity: 0.5;
    }
    .item {
        .header {
            font-family: $font-family;
            font-size: $baseSize + 0.2;
            margin-bottom: 0.5em;
            color: $tosca;
        }
        .description {
            color: #777;
        }
    }
    &.summary-list {
        .content {
            .description {
                line-height: 1.6;
            }
        }
    }
    &.wishlist-list,
    &.history-list,
    &.refund-list {
        .content {
            padding-left: $baseSize * 1.5 !important;
            margin: $baseSize 0 !important;
            a {
                color: $magenta;
            }
            .header {
                margin-bottom: $baseSize - 0.6;
                font-family: $font-family;
                font-size: $baseSize * 1.1;
                color: $tosca;
            }
            .description {
                margin-bottom: $baseSize;
                line-height: 1.6;
                color: #999;
                strong {
                    color: #777;
                }
                .ui.list {
                    .item {
                        min-width: 200px;
                        margin-bottom: $baseSize * 1.5;
                        .header {
                            margin-bottom: 0;
                            color: #777;
                        }
                    }
                }
            }
            .resi-number {
                margin-top: 0.5em;
            }
        }
    }
    &.history-list {
        margin-bottom: $baseSize * 3;
        .meta-title {
            .icon {
                font-weight: bold;
            }
        }
        .content {
            padding-left: 0 !important;
            .ui.menu {
                .item {
                    color: transparentize($color: $tosca, $amount: 0.6);
                    background: #f9f9f9;
                }
            }
            .ui.segment.tab {
                border: 1px solid #eee;
                background: #fafafa;
                border-radius: 8px;
                margin-bottom: $baseSize * 1.5;
                .column {
                    margin-bottom: $baseSize;
                    .ui.header {
                        .sub.header {
                            color: #999;
                            font-size: $baseSize - 0.15;
                            font-family: $font-family;
                            font-weight: initial;
                        }
                    }
                }
            }
        }
        .history-table {
            margin-bottom: $baseSize * 2.4 !important;
            .ui.header {
                color: #777 !important;
                font-size: $baseSize !important;
            }
        }
        .ui.steps {
            .content {
                .description {
                    margin-bottom: initial;
                }
            }
        }
    }
    &.refund-list {
        margin-bottom: $baseSize * 5 !important;
    }
    &.wishlist-list {
        .item {
            padding: $baseSize * 1.4 !important;
            border: 3px solid $tosca !important;
            border-radius: 9px !important;
            margin-bottom: $baseSize * 1.4;
        }
    }
}

.deposit {
    padding-top: 5em !important;
    .container {
        padding-top: 3.5em !important;
        margin-bottom: $baseSize * 3;
        .header {
            font-size: $baseSize * 6 !important;
            line-height: 1;
        }
        p {
            line-height: 1.8 !important;
            color: #999;
        }
    }
    .form {
        padding-top: 2em !important;
    }
}

.ui.grid {
    &.dropshipper-partner {
        margin-bottom: $baseSize * 2;
        margin-top: $baseSize;
        label {
            display: block;
        }
    }
    &.cek-ongkir {
        .ui.selection.dropdown {
            min-width: 0;
        }
        h3.header {
            margin-bottom: $baseSize * 2;
        }
        .link-btn {
            padding-left: 0 !important;
        }
        .ui.list {
            margin-bottom: $baseSize * 2;
            .header {
                color: #777;
                margin-bottom: 0;
                font-size: $baseSize;
            }
            .item {
                color: #999;
            }
        }
        .ui.segments {
            .ui.segment.logo {
                max-width: 100px;
            }
            .ui.segment {
                p {
                    font-size: $baseSize - 0.2;
                    color: #999;
                }
            }
        }
    }
    &.checkout,
    &.cart-page {
        .ui.header {
            margin-bottom: $baseSize * 1 !important;
        }
        .ui.container {
            .ui.header {
                margin-bottom: 0 !important;
            }
        }
        .disclaimer {
            margin: ($baseSize * 4) 0;
        }
    }
    &.order-received {
        .ui.container.bank-info {
            .ui.header {
                margin-bottom: 0.5em !important;
            }
            .ui.list {
                .item {
                    color: #999;
                }
            }
        }
        .ui.container {
            .cta {
                .ui.header {
                    margin-bottom: 1em !important;
                }
            }
        }
    }
    &.upgrade {
        padding-top: 5em !important;
        .container {
            padding-top: 3.5em !important;
            margin-bottom: $baseSize * 3;
            .tc {
                max-height: 240px;
                overflow-y: scroll;
            }
            .header {
                font-size: $baseSize * 6 !important;
                line-height: 1;
            }
            h3.header {
                font-size: $baseSize * 4 !important;
            }
            p {
                line-height: 1.8 !important;
                color: #999;
            }
        }
        .form {
            padding-top: 2em !important;
        }
    }
}

.payment-method {
    > .ui.segment {
        border-radius: 10px !important;
        border: 3px solid $magenta;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            transform: translateY(-2px);
        }
        label {
            color: $tosca !important;
            text-transform: uppercase;
            font-weight: bold !important;
        }
        .info {
            margin-top: $baseSize * 1.5;
            color: #777 !important;
            ul {
                padding-left: $baseSize * 1.5 !important;
            }
            .bank-list {
                margin-bottom: $baseSize * 1.5 !important;
            }
            .info-insufficient {
                margin-top: $baseSize;
            }
        }
    }
}

.ui.table {
    border: 3px solid $tosca;
    border-radius: 7px;
    border-spacing: 2px;
    transition: all 0.3s ease;
    &.summary-table,
    .ui.list.summary-list {
        margin-bottom: $baseSize * 4;
    }
    &.history-table {
        .header {
            color: #777 !important;
            font-size: $baseSize !important;
        }
    }
    &.loading {
        opacity: 0.5 !important;
    }
    td {
        color: #777 !important;
    }
    th {
        color: #999 !important;
        &.total {
            color: #999 !important;
            font-weight: bold;
        }
    }
    thead {
        > tr {
            border-radius: 7px;
            th {
                &:first-child {
                    border-radius: 7px 0 0 0;
                }
                &:last-child {
                    border-radius: 0 7px 0 0;
                }
            }
        }
    }
    tfoot {
        > tr {
            &:last-child {
                th:first-child {
                    border-radius: 0 0 0 7px;
                }
                th:last-child {
                    border-radius: 0 0 7px 0;
                }
            }
        }
    }
}

.ui.grid.search-result {
    .ui.items {
        .item {
            &:hover {
                text-decoration: none;
                color: initial;
            }
        }
    }
}

.ui.grid.profile-deposit {
    transition: all 0.3s ease;
    &.loading {
        opacity: 0.5;
    }
    .ui.segment {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        margin-bottom: $baseSize * 5 !important;
        .ui.feed {
            p {
                font-weight: normal !important;
                color: #999 !important;
            }
        }
    }
    .header {
        .dropdown {
            .text {
                color: $tosca;
            }
            .visible.menu {
                .item .text {
                    color: initial;
                }
            }
        }
    }
    .ui.feed {
        .event {
            margin-bottom: $baseSize;
            .content {
                color: #777;
                .summary {
                    font-family: $font-family !important;
                }
                .extra {
                    color: #777 !important;
                    margin: 0 !important;
                }
                a {
                    color: $tosca;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .ui.dropdown {
        .dropdown.icon {
            margin-left: 0.5em !important;
        }
    }
    .total {
        color: $tosca;
        font-weight: bold;
    }
    .disclaimer {
        color: #999 !important;
    }
    h3 {
        font-weight: normal !important;
    }
}

.ui.label {
    &.floating {
        left: 95%;
        &.cart-notifier {
            left: 65%;
            top: 5px;
        }
    }
    &.status-order {
        margin: 0.5em 0 0.8em;
    }
}

.ui.segment {
    &.cancel-order {
        padding-left: 0;
        padding-right: 0;
    }

    &.toaster {
        .ui.header {
            color: #fff !important;
            .sub.header {
                color: #eee !important;
            }
        }
    }

    &.cs-segment {
        position: fixed;
        bottom: -160px;
        z-index: 99;
        transition: all 0.2s ease;
        &.expanded {
            bottom: 0;
        }
        > .ui.header {
            cursor: pointer;
            margin-top: 0;
            &:hover {
                opacity: 0.85;
            }
        }
        .ui.list {
            .header {
                color: #999;
                font-size: $baseSize;
                margin-bottom: 0;
            }
        }
    }
    &.no-data {
        color: #999;
        border: none !important;
        width: 100%;
        padding: $baseSize * 4;
        // min-height: 20em;
        .header {
            color: #999 !important;
            margin-top: $baseSize !important;
            margin-bottom: $baseSize - 0.4 !important;
        }
        &.basic {
            min-height: initial;
            padding-left: 10px;
        }
    }
    &.floating-summary {
        .total {
            .discount {
                span {
                    font-weight: bold;
                }
            }
            .header {
                margin-top: -1px;
            }
        }
        .header {
            color: $tosca !important;
        }
        .list {
            .header {
                color: $tosca !important;
                margin-bottom: 0;
            }
            .description {
                color: #777777 !important;
                line-height: 1.6 !important;
            }
            .icon {
                color: #999 !important;
            }
        }
        .items {
            margin-bottom: $baseSize * 3 !important;
            .item {
                .ui.header {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}

.ui.popup {
    &.product-detail-hover {
        border-radius: 8px !important;
        border: none !important;
        letter-spacing: 0.5px;
        font-size: $baseSize;
        line-height: 1.6;
        color: #777;
        .ui.header {
            padding-top: $baseSize * 2;
        }
    }
}

.ui.modal {
    &.tiny {
        padding: ($baseSize) ($baseSize * 1.5);
        border-radius: 10px !important;
        border: 3px solid $tosca !important;

        &.timeout-popup {
            padding: 2em 1em;
        }

        .actions {
            background: none !important;
            border-top: none !important;
        }
        .header {
            color: $tosca !important;
            border-bottom: none !important;
        }
        .content {
            color: #777;
            padding-top: 0;
        }
    }
    &.tiny.modal-search {
        background: #fff;
        position: relative;
        top: -40px;
        .content {
            padding: inherit !important;
        }
        .ui.search {
            .ui.input {
                display: flex;
                input {
                    border: none;
                }
                .icon {
                    color: $magenta;
                }
            }
        }
    }
}

.user-detail {
    .header {
        &.name {
            font-size: $baseSize * 1.8 !important;
            line-height: 1;
        }
    }
    > .ui.segment {
        padding-left: 0;
        padding-right: 0;
    }
    p {
        color: #999 !important;
        margin-bottom: 5px;
    }
    .ui.label {
        margin-top: $baseSize * 2;
        margin-bottom: $baseSize;
    }
    .link-btn {
        padding-left: 0 !important;
    }
}

.ui.search {
    .results {
        .result {
            &.active {
                background: #ddd !important;
            }
            .image {
                margin-top: $baseSize * 0.5;
                img {
                    margin: 0 0 0 auto;
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                line-height: 1.4;
                .price {
                    color: $magenta !important;
                    margin-bottom: 0.5em;
                }
            }
            .title {
                color: #777 !important;
            }
        }
    }
}

.slick-dots {
    li {
        &.slick-active {
            button:before {
                color: $tosca !important;
            }
        }
        button:before {
            font-size: 14px !important;
        }
    }
}

.footer {
    a {
        color: #999 !important;
        &:hover {
            color: $tosca !important;
        }
    }
    .ui.header {
        text-transform: uppercase;
        color: $tosca !important;
    }
}

#outline {
    animation: 0.38s ease-in outline;
    transform: rotate(0deg);
    transform-origin: center;
}

#white-circle {
    animation: 0.35s ease-in 0.35s forwards circle;
    transform: none;
    transform-origin: center;
}

#check {
    animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
    stroke-dasharray: 0, $check-len;
}

#check-group {
    animation: 0.32s ease-in-out 1.03s check-group;
    transform-origin: center;
}

@keyframes outline {
    from {
        stroke-dasharray: 0, $circumf;
    }
    to {
        stroke-dasharray: $circumf, $circumf;
    }
}

@keyframes check-group {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.09);
    }
    to {
        transform: scale(1);
    }
}

@keyframes check {
    from {
        stroke-dasharray: 0, $check-len;
    }
    to {
        stroke-dasharray: $check-len, $check-len;
    }
}

@keyframes circle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
